<app-header></app-header>
<div class="container pt-4">
  <div class="row d-flex justify-content-center">
    <div class="col-sm d-flex justify-content-center">
      <img class="img-fluid" src={{entidade.Imagem}}>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <h2>{{entidade.NomeFantasia}}</h2>
    </div>
    <div class="col-sm d-flex justify-content-center">
      <h4>{{entidade.NomeEmpresarial}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm d-flex flex-column align-items-center">
      <p>Fundada em {{entidade.DataAbertura}}</p>
    </div>
    <div class="col-sm d-flex flex-column justify-content-center">
      <h5>Descrição:</h5>
      <p>{{entidade.Descricao}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Endereço</h5>
      <p class="text-justify">{{entidade.Endereco.Logradouro}}, {{entidade.Endereco.Numero}}</p>
      <p class="text-justify">{{entidade.Endereco.Bairro}}, {{entidade.Endereco.Cidade}} - {{entidade.Endereco.Estado}}</p>
      <p class="text-justify">CEP: {{entidade.Endereco.CEP}}</p>
    </div>
    <div class="col">
      <iframe [src]="entidade.Endereco.Localizacao" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>