<app-header></app-header>


<div class="container pt-4">
  <div class="list-group">
    <a *ngFor="let item of list"  class="list-group-item d-flex justify-content-between align-items-center">
      <p routerLink="/solicitar-deletar/{{item.id}}" *ngIf="!item.tipo">
          {{item.Entidade}}
          <span class="badge badge-danger" >Desativação</span>
      </p>
      <p routerLink="/solicitar-criar/{{item.id}}" *ngIf="item.tipo">
        {{item.Entidade}}
    </p>
    </a>
  </div>
</div>


