<app-header></app-header>

<div class="container pt-4">
  <div class="row">
    <div class="col-sm d-flex justify-content-center">
      <img class="img-fluid" src={{evento.Imagem}}>
    </div>
    <div class="col-sm d-flex justify-content-center pt-4">
      <h1>{{evento.Titulo}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm d-flex justify-content-center">
      <h5>Realizado por <a routerLink="/detalhes-entidade/{{entidade.Id}}">{{entidade.NomeFantasia}}</a></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm d-flex flex-column align-items-center">
      <h6 *ngIf="evento.dataInicio != evento.dataFim">De {{evento.DataInicio}} até {{evento.DataFim}}</h6>
      <h6 *ngIf="evento.dataInicio == evento.dataFim">Em {{evento.DataInicio}}</h6>
      <h6>Das {{evento.HoraInicio}} as {{evento.HoraFim}}</h6>
    </div>
    <div class="col-sm d-flex flex-column justify-content-center">
      <h5>Descrição:</h5>
      <p>{{evento.Descricao}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h5>Endereço</h5>
      <p class="text-justify">{{evento.Endereco.Logradouro}}, {{evento.Endereco.Numero}}</p>
      <p class="text-justify">{{evento.Endereco.Bairro}}, {{evento.Endereco.Cidade}} - {{evento.Endereco.Estado}}</p>
      <p class="text-justify">CEP: {{evento.Endereco.CEP}}</p>
    </div>
    <div class="col d-flex justify-content-center">
      <iframe [src]="evento.Endereco.Localizacao" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row" *ngIf="user.Id">
    <div class="col">
        <button routerLink="/criar-evento/{{evento.Id}}"
        class="btn btn-primary btn-lg btn-block"
      >
        Editar
      </button>
        <button
        class="btn btn-danger btn-lg btn-block"
      >
        Cancelar
      </button>
    </div>
  </div>
</div>