<app-header></app-header>

<div class="container pt-4">
  <form>
    <fieldset>
      <legend>Criar Evento</legend>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label">Título</label>
        <div class="col-sm-10">
          <input class="form-control-plaintext" type="text" placeholder="Título do evento" required/>
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label">Descrição</label>
        <div class="col-sm-10">
          <textarea rows="8" class="form-control-plaintext" type="text" placeholder="Descrição do evento" required></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Data do início</label>
        <div class="col-sm-10">
          <input class="form-control-plaintext" type="date" required/>
        </div>
        <label class="col-sm-2 col-form-label">Data do fim</label>
        <div class="col-sm-10">
          <input class="form-control-plaintext" type="date" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Horário de início</label>
        <div class="col-sm-10">
          <input class="form-control-plaintext" type="time" required/>
        </div>
        <label class="col-sm-2 col-form-label">Horário de fim</label>
        <div class="col-sm-10">
          <input class="form-control-plaintext" type="time" required/>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Logradouro</label>
        <div class="col-sm-10">
          <input class="form-control-plaintext" type="text" placeholder="Rua, Avenida, Alameda, ..." required/>
        </div>
        <label class="col-sm-2 col-form-label">Número</label>
        <div class="col-sm-10">
          <input class="form-control-plaintext" type="number" placeholder="Nº" required/>
        </div>
        <label class="col-sm-2 col-form-label">Bairro</label>
        <div class="col-sm-10">
          <input class="form-control-plaintext" type="text" required/>
        </div>
        <label class="col-sm-2 col-form-label">Cidade</label>
        <div class="col-sm-10">
          <input class="form-control-plaintext" type="text" required/>
        </div>
        <label class="col-sm-2 col-form-label">Estado</label>
        <div class="col-sm-10">
          <select class="custom-select" required>
            <option selected="">Selecione o estado</option>
            <option value="estado.sigla" *ngFor="let estado of estados">
              {{estado.nome}}
            </option>
          </select>
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label">Localização</label>
          <div class="col-sm-10">
            <p>
              Instruções:
            </p>
            <ul>
                <li>
                    Acesse <a href="https://www.google.com.br/maps/" target="_blank" >https://www.google.com.br/maps/</a>;
                </li>
                <li>
                    Busque pelo local desejado;
                </li>
                <li>
                    Clique em compartilhar;
                </li>
                <li>
                    Selecione a aba "Incorporar mapa";
                </li>
                <li>
                    Clique em "Copiar HTML";
                </li>
              </ul>
          </div>
          <div class="col-sm-10">
            <input
              class="form-control-plaintext"
              name="localizacao"
              type="text"
              placeholder="Cole aqui a localização"
              required
            />
          </div>
        </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Imagem</label>
        <div class="col-sm-10">
          <div class="custom-file">
            <label class="custom-file-label" for="imagem">Escolher arquivo</label>
            <input
              type="file"
              class="custom-file-input"
              id="imagem"
              required
            />
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block" *ngIf="!evento">
        Criar
      </button>
      <button type="submit" class="btn btn-primary btn-lg btn-block" *ngIf="evento">
          Atualizar
        </button>
    </fieldset>
  </form>
</div>
