<app-header></app-header>

<div class="container pt-4">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <fieldset>
      <legend>Representante</legend>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Nome"
            name="rpNome"
            type="text"
            [disabled]="solicitacao"
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">CPF</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.CPF"
            mask="000.000.000-00"
            name="rpCPF"
            [disabled]="solicitacao"
            type="text"
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Carteira de identidade</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Identidade"
            name="rpIdentidade"
            type="text"
            [disabled]="solicitacao"
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Cargo</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Cargo"
            name="rpCargo"
            type="text"
            [disabled]="solicitacao"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Telefone</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Telefone"
            mask="(00) 0000-0000"
            name="rpTel"
            type="tel"
            [disabled]="solicitacao"
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Celular</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Celular"
            mask="(00) 0 0000-0000"
            name="rpCel"
            type="tel"
            [disabled]="solicitacao"
            required
          />
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Logradouro</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Endereco.Logradouro"
            name="rpLogradouro"
            type="text"
            [disabled]="solicitacao"
            required
          />
        </div>
        <label class="col-sm-2 col-form-label">Número</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Endereco.Numero"
            name="rpEndNumero"
            type="number"
            [disabled]="solicitacao"
            required
          />
        </div>
        <label class="col-sm-2 col-form-label">Bairro</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Endereco.Bairro"
            name="rpBairro"
            type="text"
            [disabled]="solicitacao"
            required
          />
        </div>
        <label class="col-sm-2 col-form-label">Cidade</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Endereco.Cidade"
            name="rpCidade"
            type="text"
            [disabled]="solicitacao"
            required
          />
        </div>
        <label class="col-sm-2 col-form-label">Estado</label>
        <div class="col-sm-10">
          <select
            class="custom-select"
            [(ngModel)]="representante.Endereco.Estado"
            name="rpEstado"
            [disabled]="solicitacao"
            required
          >
            <option selected=""></option>
            <option value="estado.sigla" *ngFor="let estado of estados">{{
              estado.nome
            }}</option>
          </select>
        </div>
        <label class="col-sm-2 col-form-label">CEP</label>
        <div class="col-sm-10">
          <input
            class="form-control-plaintext"
            [(ngModel)]="representante.Endereco.CEP"
            name="cep"
            type="text"
            [disabled]="solicitacao"
            required
            mask="00000-000"
          />
        </div>
      </div>
      <div class="form-group row">
          <label class="col-sm-2 col-form-label">Motivo</label>
        <div class="col-sm-10">
          <textarea
            class="form-control-plaintext"
            [(ngModel)]="motivo"
            name="motivo"
            [disabled]="solicitacao"
            type="text"
            required
          ></textarea>
        </div>
      </div>

      <button type="submit" *ngIf="!solicitacao" class="btn btn-danger btn-lg btn-block">
        Solicitar desativação
      </button>
      <button
      type="submit"
      *ngIf="solicitacao"
      class="btn btn-danger btn-lg btn-block"
      (click)="desativar()"
    >
      Desativar
    </button>
    </fieldset>
  </form>
</div>
